main{
    /* background: linear-gradient(137deg, #a5d2ef, #8694db, #b08ee2); */
    min-height: 100vh;
}

a{
    text-decoration: unset !important;
}

header{
    padding: 12px 0;
}
.main-logo {
    width: 100%;
    max-width: 140px;
    display: block;
    margin: auto;
}

/* Dashboard Menu */
.dash-menu ul {
    list-style: none;
    padding: 0;
}
.dash-menu ul li a {
    width: 100%;
    display: inline-block;
    padding: 8px 20px;
    margin: 5px 0;
    color: #222;
    font-weight: 600;
}

.user-index .avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.user-profile .avatar, .user-edit .avatar{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    background: #fff;
}
.user-profile i {
    min-width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    border-radius: 3px;
    opacity: .9;
}

.go-edit-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    text-decoration: unset;
    i{
        background: unset;
        font-size: 15px;
        transition: all .2s;
        margin-right: 3px;
    }
    &:hover i{
        margin-right: 6px !important;
    }
}

.user-edit .avatar{
    border-radius: 5px;
}
.user-edit label{
    font-weight: 600;
    color: #444;
}